.container {
    display: block;
    width: 200px;
    height: 200px;
    position: relative;
    perspective: 1000px;
    padding: 100px;
}

.cube {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
   /* transform: rotateX(145deg) rotateY(20deg) rotateZ(25deg);*/
}

.first-row {
/*    border-top: 2px solid red;
    border-left: 2px solid red;
    border-right: 2px solid red;*/
    width: 180px;
    height: 70px;
    position: absolute;
    background-color: lightgrey;
    opacity: 0.5;
}

.second-row-left {
  /*  border-left: 2px solid red;
    border-right: 2px solid red;*/
    width: 70px;
    height: 40px;
    position: absolute;
    background-color: lightgrey;
    transform:  translateY(71px) translateX(0px);
    opacity: 0.5;
 
}

.second-row-right {
/*    border-left: 2px solid red;
    border-right: 2px solid red;*/
    width: 70px;
    height: 40px;
    background-color: lightgrey;
    position: absolute;
    transform: translateY(71px) translateX(110px);
    opacity: 0.5;
 
}

.third-row {
/*    border-bottom: 2px solid red;
    border-left: 2px solid red;
    border-right: 2px solid red;*/
    width: 180px;
    height: 70px;
    position: absolute;
    background-color: lightgrey;
    transform: translateY(110px);
    opacity: 0.5;
  
}

.cross {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
}

.upper {
    width: 100%;
    height: 100%;
    padding-left: 70px;
    position: absolute;
    transform-style: preserve-3d;    
}

.lower {
    width: 100%;
    height: 100%;
    padding-top:110px;
    padding-left: 70px;
    position: absolute;
    transform-style: preserve-3d;    
}

.left {
    width: 100%;
    height: 100%;
    padding-top:70px;
    position: absolute;
    transform-style: preserve-3d;    
}

.right {
    width: 100%;
    height: 100%;
    padding-top:70px;
    padding-left:110px;
    position: absolute;
    transform-style: preserve-3d;    
}

.middle {
    width: 100%;
    height: 100%;
    padding-top:70px;
    padding-left:70px;
    position: absolute;
    transform-style: preserve-3d;     
}

.edge {
    width: 180px;
    height: 180px;
    display: block;
    position: absolute;
    background-color: lightgrey;
    opacity: 0.5;
}

.edge-vertical-big {
    width:40px;
    height: 70px;
    display: block;
    border: 1px solid red;
    position: absolute; 
    background-color: yellow;

}

.edge-horizontal-big {
    width:70px;
    height: 40px;
    display: block;
    border: 1px solid red;
    position: absolute;  
    background-color: yellow;

}

.edge-square {
    width:40px;
    height: 40px;
    display: block;
    border: 1px solid red;
    position: absolute; 
    background-color: orange;
    opacity: 0.2;
}

.edge-square-invisible {
    width:40px;
    height: 40px;
    display: block;
    position: absolute;  
    background-color: yellow;  
}

.top-in-vertical {
    transform: rotateX(90deg) translateZ(20px);   
}
.bottom-in-vertical {
    transform: rotateX(-90deg) translateZ(50px);   
}

.left-in-vertical {
    transform: rotateY(-90deg) translateZ(20px);       
}

.right-in-vertical {
    transform: rotateY(90deg) translateZ(20px);    
}

.front-in-vertical {
      transform: rotateY( 0deg )translateZ(20px);  
}
.back-in-vertical {
      transform: rotateY( 180deg )translateZ(20px);  
}

.top-in-horizontal {
    transform: rotateX(90deg) translateZ(20px);   
}
.bottom-in-horizontal {
    transform: rotateX(-90deg) translateZ(20px);   
}

.left-in-horizontal {
    transform: rotateY(-90deg) translateZ(20px);       
}

.right-in-horizontal {
    transform: rotateY(90deg) translateZ(50px);    
}   

.front-in-horizontal {
      transform: rotateX( 0deg ) translateZ(20px);  
}
.back-in-horizontal {
      transform: rotateX( 180deg )translateZ(20px);  
}

.front-outer-cube {
    transform: rotateY(   0deg ) translateZ( 92px );   
}

.back-outer-cube {
    transform: rotateX( 180deg ) translateZ( 92px );
}

.top-outer-cube {
    transform: translateZ( -94px ) translateX(0px) translateY(0px) rotateX(  90deg ); ;
}

.bottom-outer-cube {
    transform: translateZ( 94px ) translateX(0px) translateY(182px) rotateX(  -90deg ) ;
}

.left-outer-cube {  
    transform:  translateZ(-98px) translateX(-21px) rotateY(90deg); 
}

.right-outer-cube {
    transform:  translateZ(98px) translateX(-194px) rotateY(-90deg); 
}

.background-setting {
    background-color: black;
    width: 100%;
    height: 100%;
}


